{% include 'crdapp/navebar.html' %}

<br/> <br/>


{% block content %}

<h1>hotel list</h1>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>H Name</td>
            <td>H address</address></td>
            <td>level</address></td>
            <td>description</td>
            <td>paymrnt</td>
            <td>
                <a href="{% url 'hotel_form'  %}">
                    <button type="button">add</button>
                  </a>                
                </td>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for hotels in hotel_list %}
        <tr>

            <td>{{hotels.H_Name}}</td>
            <td>{{hotels.H_Locaation}}</address></td>
            <td>{{hotels.level}}</td>
            <td>{{hotels.Discreption}}</td>
            <td>{{hotels.Payment}}</td>
            <td>
                <a href="{% url 'hotel_update' hotels.id %}">
                    <button type="button">update</button>
                  </a>                
                </td>
            </td>
            <td>
                <form action="{% url 'hotel_delete' hotels.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit">delete</button>
                  </a>                
                </td>
            </td>
        </tr> 
        {% endfor %}
    </tbody>
</table>


{% endblock %}



