<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="TouristSite.css">
</head>
<body>
    

  

    <div class="container">
        <div class="input-field">
            <label for="Site Name">Site Name</label>
            <input type="text" id="text-input" placeholder="Enter text" required>
        </div>
    
        <div class="input-field">
            <label for="photo-input">Select Photo</label>
            <input type="file" id="photo-input" accept="image/*" required>
        </div>
        <div class="input-field">
            <label>Description</label>
           
            <textarea placeholder="Type your message here..."  style="width: 70%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" placeholder="Any Description about Package" requiredtabindex="5" required></textarea>
        </div>
        
        <button type="submit">Submit</button>
    </div>
</body>
</html>