<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="reset.css" />
    <title> new Password Reset</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" class="sign-in-form">
            <h2 class="title">Reset New Password</h2>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="new_password1" id="new_password1" value="" required />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Confirm Password" id="new_password2"  name="new_password2" value="" required/>
            </div>
           
            <input type="submit" value="Reset" class="btn solid" />
           
          </form>
          
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          
          <img src="images/log.svg" class="image" alt=""  />
        </div>
        
      </div>
    </div>

    <script src="NewUserLogin.js"></script>
  </body>
</html>
