/* reset_password.css */
body {
    font-family: 'Roboto', sans-serif; /* Change the font family to your preferred font */
    margin: 0;
    padding: 20px;
   
}

.container {
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    position: relative;
    text-align: center;
}

.heading::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: orange;
}

form {
    margin-top: 20px;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif; /* Change the font family to your preferred font */
    font-size: 16px; /* Adjust the font size as needed */
}

input[type="email"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

button[type="submit"] {
    padding: 15px 20px; /* Adjust the padding to change the button size */
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Change the font family to your preferred font */
    font-size: 16px; /* Adjust the font size as needed */
    border-radius: 15px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ffe850; /* Change the hover background color as needed */
}

/* Responsive CSS */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 300px;
    }
}