<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
    <link rel="stylesheet" type="text/css" href="feedbackcss.css">

</head>
<body>
    <div class="container">
        <form id="contactus" action="" method="post">
            <h3>FeedBack Form</h3>
            <fieldset> <input placeholder="name" type="text" tabindex="1" required autofocus  > </fieldset>
            <fieldset> <input placeholder="Email Address" type="email" tabindex="2" required> </fieldset>
            <fieldset> <input placeholder="Phone Number" type="tel" tabindex="3" required> </fieldset>
            <fieldset> <textarea placeholder="Type your message here..." tabindex="5" required></textarea> </fieldset>
            <fieldset> <button name="submit" type="submit" id="contactus-submit" data-submit="...Sending"><i id="icon" class=""></i> Send Now</button> </fieldset>
        </form>
    </div>
</body>
</html>