<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/user/UserLogin.css' %}" />
  <title>Sign in & Sign up Form</title>
</head>

<body>

  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="#" class="sign-up-form" method="POST">
          {% csrf_token %}
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" name="fname" />
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" name="lname" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" name="email" />
          </div>
          <div class="input-field">
            <i class="fas fa-phone fa-flip-horizontal"></i>
            <input type="text" placeholder="PhoneNumber" name="addres" />
          </div>
          <div class="input-field">
            <i class="fas fa-map-marker-alt"></i>
            <input type="text" placeholder="address" name="phone" />
          </div>

          <div class="button input-box">
            <input type="submit" value="Sumbit">
          </div>


        </form>
        <div class="text sign-up-text">Already have an account?
          <a href="{% url 'user_login' %}">Login now </a>
        </div>
      </div>

    </div>
  </div>

  <div class="panels-container">
    <!-- <div class="panel left-panel">
      <div class="content">
        <h3>New here ?</h3>
        <p>
          Travel to every corner of gurage zone!
        </p>
        <button class="btn transparent" id="sign-up-btn">
          <a href="{% url 'user_register' %}">Sign up</a>
        </button>

      </div>
      <img src="{% static " image/NewUserLoginPhoto/log.svg" %}" class="image" alt="" />
    </div>  -->
     <div class="panel right-panel">
      <div class="content">
        <h3>One of us ?</h3>
        <p>
          Travel to every corner of gurage zone!
        </p>
        <button class="btn transparent" id="sign-in-btn">
          Sign in
        </button>
      </div>
      <img src="{% static " image/NewUserLoginPhoto/register.svg" %}" class="image" alt="" /> {% load static %}
    </div>
  </div>
  </div>

  <script src="{% static 'css/javascript/NewUserLogin.js' %}"></script>
</body>

</html>